<style>

.title{
    font-size: 12px;
}

.slides {
    font-size: 0.68em;
}

h4 {
    text-align: left;
}

p {text-align: left;}

.smaller{
    font-size: 0.4em;
}

.reveal ul {
    display: block;
}
.reveal ol {
    display: block;
}


</style>